<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.trymybatis.mappers.PeopleMapper">
    <select id="selectPeople"
            parameterType="hashmap"
            resultType="com.example.trymybatis.entity.People">
        select people_id as id, age, name from peoples where people_id = #{id}
    </select>
    <insert id="insertPeople"
            parameterType="com.example.trymybatis.entity.People"
            useGeneratedKeys="true" keyProperty="id" keyColumn="people_id">
        insert into peoples(age, name) values (#{age}, #{name})
    </insert>
    <insert id="insertPeopleList"
            parameterType="com.example.trymybatis.entity.People"
            useGeneratedKeys="true" keyProperty="id" keyColumn="people_id">
        insert into peoples(age, name) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.age}, #{item.name})
        </foreach>
    </insert>
    <insert id="insertPeopleAddressList"
            parameterType="com.example.trymybatis.entity.Address"
            useGeneratedKeys="true" keyProperty="id" keyColumn="address_id">
        insert into addresses(people_id, street, city) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.peopleId}, #{item.street}, #{item.city})
        </foreach>
    </insert>
    <insert id="insertPeopleArticleList"
            parameterType="com.example.trymybatis.entity.Article"
            useGeneratedKeys="true" keyProperty="id" keyColumn="article_id">
        insert into articles(people_id, title, content) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.peopleId}, #{item.title}, #{item.content})
        </foreach>
    </insert>
    <update id="dropPeoples">
        drop table peoples;
    </update>
</mapper>